@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-size: 14.5px;
    -webkit-text-size-adjust: 100%;
  }

  body {
    @apply antialiased;
    font-size: 1rem;
  }

  * {
    box-sizing: border-box;
  }
}
